 /* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities;  */
 

/* color palette:  */
:root {
    --light-peach: #FDF3DD ;
    --white : #FFFFFF;
    --orange : #EF601E;
    --yellow: #E9B149;
    --lightpurple: #CAAACD;
    --palepurple: #E6C5E9;
    --deepyellow: #9E7002;
    --green: #8B9B96;
    --lightCoral: #FF9B6D;
    }
    
* {
    margin: 0;
    padding: 0;
}

/************************** VIEWPORT ONE (.screen-one) BASIC STYLING *****************************/

.screen-one {
    display: flex;
    height: 95vh;
    width: 100%;
    background-color: #FDF3DD;
    box-sizing: border-box;
}

/* HEADER AND NAVIGATION MENU */
.top-header {
    width: 100%;
    height: 30px;
    line-height: 1px;
    background: linear-gradient(
        to right,
        #FF66C4 0%,
        #FFDE59 100%
    );
    text-align: center;
}
.navbar {
    width: 100%;
    height: 0vh; 
    margin: auto;
    display: flex;
    align-items: center;
}
#logo {
    width: 300px;
    cursor: pointer;
    position: relative;
    top: 50px;
}
nav {
    width: 100%;
    flex: 1;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 20px;
    margin-left: 100px;
    text-decoration: none;
    color: black;  
}
/* NAV LINK HOVER STYLING */
circle-conatiner {
    display: inline-block;
    position: relative;
}
.hover-rounded-full:hover {
    border-radius: 9999px;
}


/* LEFT SIDE OF VIEWPORT 1, CAROUSEL STYLING */
.left-tab {
    position: relative;
    top: 15%;
    left: 5%;
}
#carousel {
    position: relative;
    top: 30px;
    max-height: 425px;
    max-width: 425px;
    border-top-right-radius: 25%;
}

/* RIGHT SIDE OF VIEWPORT 1*/
.right-tab {
    position: absolute;
    left: 45%;
    top: 22%;
}
.right-tab h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    
}
.right-tab p {
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
}

/* SCROLL CONTAINER STYLING */
.scroll-ul {  
    display: flex; 
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 10px;
}
.activity {
    /* THIS CLASS REPRESENTS EACH ACTIVITY DIV IN THE SCROLL CONTAINER */
    display: block;
    width: 260px;
    margin-top: 20px;
    cursor: pointer;
}

/************************** VIEWPORT TWO (.screen-two) BASIC STYLING *****************************/

.screen-two {
    background-color: var(--lightpurple);
    display: flex;
    height: 95vh;
    width: 100%;
    box-sizing: border-box;
}

/* LEFT SIDE OF VIEWPORT 2 STYLING */

.left2 { 
    max-width: 50%;
}

/* JOURNAL SLOGAN POSITIONING */
.journal-slogan {
    width: 300px;
    height: 100px;
    max-width: 125%;
}

/* FORM STYLING */
form {
    display: flex;
}
.text {
    /* THIS CLASS REFERS TO THE TEXT AREA ELEMENT */
    width: 250%;
    height: 60%;
    margin: 10px 0px;
    padding: 20px;
    border-radius: 20px;
    cursor: text;
}
.form-input {
    /* THIS CLASS REFERS TO THE NAME AND DATE INPUT ELEMENTS */
    width: 300px;
    height: 40px;
    margin: 10px 0px;
    padding: 20px;
    border-radius: 20px;
}
/* NEED TO FIX KANYE SECTION FOR MAIN DISPLAY */
/* KANYE SCALE STYLING */
.right2 {
    /* THIS CLASS REFERS TO THE ENTIRE YELLOW DIV FOR THE KANYE SCALE */
    /*position: relative;
    top: 13%;
    left: 72%;
    max-width: 40%;
    max-height: 380px;
    background-color: var(--yellow);
    border-radius: 20px; */
    background-color: var(--yellow);
    border-radius: 20px;
}
/* .vibes-title {
    THIS CLASS REFERS TO THE "VIBE CHECK" TITLE IMAGE ABOVE THE KANYE DIV 
    position: absolute;
    left: 70%;
    bottom: -60px;
    max-width: 260px; 
} */
.vibe-div {
    /* THIS CLASS REFERS TO THE GRID CREATED WITHIN THE DIV SO KANYE CAN LINE UP WITH THE CHECK BOXES */
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    color: white;
}
.kanye {
    /* THIS CLASS REFERS TO EVERY KANYE FACE PICTURE IN THE DIV */
    margin: 5px 0px;
    position: relative;
    bottom: 15px;
    left: 10px;
}
.checks {
    /* THIS CLASS REFERS TO THE EVERY CHECKBOX IN THE KANYE SCALE DIV */
    width: 200px;
}
.right2 p {
    /* THIS IS TARGETTING THE PARAGRAPH ELEMENT AT THE TOP OF THE KANYE SCALE DIV */
    background-color: var(--light-peach);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
}
.submit {
    /* THIS CLASS REFERS TO THE SUBMIT BUTTON */
    width: 100%;
    height: 50px;
    color: white;
    background-color: var(--orange);
    border-radius: 20px;
    cursor: pointer;
}

/************************************ FOOTER: BASIC STYLING ***************************************/

footer {
    background-color: var(--lightCoral);
    color: white;
    text-align: center;
    padding: 20px;
}

 
/*----------------------------- MEDIA QUERIES----------------------- */
@media screen and (max-width: 768px) {
    .top-header {
        height: 50px;
    }
    nav ul li {
        display: block;
        margin-top: 30px; 
        text-align: left;
    }
    #logo {
        margin: auto;
        width: 365px;
        top: 65px;
    }
    #carousel {
        width: 45%;
        margin-top: 10px;
        
    }
    #web-title {
        position: relative;
        top: 225px;
        margin-left: 50%;
        font-size: 43px;
    }
    #web-subtitle {
        font-size: 30px;
        position: relative;
        top: 350px;
    }
    .text {
        width: 100%;
        height: 55%;
    }
    .form-input {
        width: 90%;
       
    }
    .screen-one {
        flex-direction: column; 
        height: 90vh;
    }
   
    
    
    .right-tab {
        
        left: 5%;
        top: 10%;
    }

    .right-tab h1,
    .right-tab p {
    
        font-size: 40px;
        text-align: center;

    }

    .activity {
            
            position: static;
            margin: 5px; /* Adjust spacing between activity boxes */
        }
    .left2 {
            flex-basis: 1;
            min-width: 95% ;
            margin: 5px auto;
            height: 30%;
            position: relative;
            bottom: 10%;

        }
    .right2 {
            margin: 5px auto;
            max-width: 90%;
            position: relative;
            bottom: 10%;

        }

    .vibes-title {
            width: 45%;
            margin: 15px auto;
            position: relative;
            bottom: 10%;
             
        }
     .journal-slogan {
            max-width: 60%;
            margin: auto;
            margin-top: 10px; 
        }

     #journal-form {
            display: flex; 
            flex-direction: column;
            height: 100%;

        }
        .vibe-div {
            grid-template-columns: 6fr 6fr; 
        }
     
    .screen-two {
            height: 125vh;
        }
        .scroll-ul {
            margin-top: 360px;
        }
    }
    footer {
        text-align: center;
    }
    footer p {
        font-size: 14px; 
    }

/*--------------------MOBILE MEDIA QUERIES ---------------------------------*/

@media screen and (max-width: 414px){
    .top-header {
        height: 50px;
    }
  
    nav ul li {
        display: block;
        margin-top: 30px; 
        text-align: left;
    }
    #logo {
        margin: -50px;
    }
    #carousel {
        display: none;
    }
    #web-title {
        position: relative;
        top: 125px;
        margin-left: 0%;
    }
    #web-subtitle {
        font-size: 25px;
        position: relative;
        top: 125px;
    }
    .screen-one {
        height: 80vh;
        flex-direction: column; /* Stack items vertically */
    }
    .scroll-ul {
        margin-top: 140px;
    }

    .form-input {
        width: 90%;
       
    }
    .right-tab {
        
        left: 5%;
        top: 10%;
    }

    .right-tab h1,
    .right-tab p {
    
        font-size: 30px;
        text-align: center;
        left: 0;
        bottom: 0;
    }
          
    .activity {
            
            position: static;
            margin: 5px; /* Adjust spacing between activity boxes */
        }
    .left2 {
            flex-basis: 1;
            min-width: 90% ;
            margin: 5px auto;
            margin-top: -10%;
            height: 30%;

        }
    .right2 {
            margin: 5px auto;
            max-width: 90%;
            position: relative;

        }
        .text {
            width: 100%;
        }

    .vibes-title {
            width: 70%;
            margin: 30px auto;
             
        }
     .journal-slogan {
            max-width: 100%;
            margin-top: 10px;  
        }

     #journal-form {
            display: flex; 
            flex-direction: column;
            height: 85%;

        }
    
    .screen-two {
            height: 115vh;
        }
    }
    footer {
        text-align: center; 
    }

    footer p {
        font-size: 14px; 
    }

