@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette: */
:root {
    --light-peach: #FDF3DD ;
    --white : #FFFFFF;
    --orange : #EF601E;
    --yellow: #E9B149;
    --lightpurple: #CAAACD;
    --palepurple: #E6C5E9;
    --deepyellow: #9E7002;
    }
    
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #FDF3DD;
    box-sizing: border-box;

}

.top-header {
    width: 100%;
    height: 30px;
    background: linear-gradient(
        to right,
        #FF66C4 0%,
        #FFDE59 100%
    );
}

.navbar {
    width: 100%;
    height: 0vh;
    margin: auto;
    display: flex;
    align-items: center;
}

#logo {
    width: 300px;
    cursor: pointer;
    position: relative;
    top: 50px;
}

nav {
    width: 100%;
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 20px;
    margin-left: 100px;
    text-decoration: none;
    color: black;
    
}

main {
    display: flex;
}

.left-tab {
    width: 50%;
    margin-top: 120px;
    margin-left: 0px;
    padding-left: 80px;
    margin-right: 40px;
}

.right-tab {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

#happy-pic {
    width: 600px;
    border-top-right-radius: 25%;
}

.right-tab h1 {
    font-size: 40px;
    font-weight: 100;
    margin-top: 80px;
}

.right-tab p {
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;



}




.scroll-div {   
    width: 53%;
    overflow-x: scroll;
    white-space: nowrap;
}

.activity {
    overflow-x: scroll;
    width: 400px;
    margin-top: 30px;
    cursor: pointer;
}


